{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
{{ form.media.js }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %} " />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

  <style>

.select2-container {
    width: 100% !important;
}

  </style>
{% endblock %}

      {% block nav %}
      <ul class="c-tab-nav" role="tablist">
        <li class="c-tab-nav__tab brand">
          <a href=""><img src="{% static 'img/gainful_logo.png' %}" width=50></a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/overview">Overview</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/scheduler">Message Scheduler</a></button>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/students">Students</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab is-active">
          <a href="/groups">Groups</a>
        </li>
        <li class="c-tab-nav__tab brand u-l-fr" style="margin-right: 20px;">
          <a href=""><img src="{% static 'img/foothill_logo_nobg.png' %}" width=85></a>
        </li>
      </ul>
      {% endblock %}

{% block content %}

<h2 class="u-l-fl">Groups</h2>

<div class="u-pad-s">
	<div class="page-menu u-l-fr">
		<button id="newStudentBtn" class="c-btn c-btn--primary" onclick="GG.onCreateGroupClicked()">Add a group</button>
	</div>

	{% if groups %}
		<table class="c-table">
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Edit</th>
		  </tr>
		</thead>
		<tbody>
		{% for group in groups %}
			{% if group.name %}
			  <tr>
			    <td>{{group.name}}</td>
			    <td><a href='{% url 'editgroup' group.id %}'>Edit Group</a></td>
			  </tr>
		  	{% endif %}
		{% endfor %}
		</tbody>
		</table>
	{% else %}
		<p>No users found</p>
	{% endif %}
 
{% endblock %}


{% block modal %}
<div id="newGroupModal" class="c-modal-overlay" style="display:none">
	<div class="c-modal">
		<div class="c-modal__header">
		  <h2>Create a group</h2>
		</div>
		<div class="c-modal__content">
		  <form method="POST" enctype="multipart/form-data">
 {% csrf_token %}

    {{ form.as_p }}

		     <div class="clearfix">
		         <div class="u-l-fr">
			        <button type="submit" class="c-btn c-btn--primary">Create</button>
			        <button type="button" class="c-btn c-btn--secondary" onclick="GG.dismissModal()">Cancel</button>
			     </div>
		     </div>
		  </form>
		</div>
	</div>
</div>
{% endblock %}

{% block page_scripts %}
  <script type="text/babel" src="{% static 'js/groups.js' %}"></script>

  <script>

  $(function() {

$('select').select2();


});
</script>
{% endblock %}