{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
{{ form.media.js }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %} " />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

  <style>

.select2-container {
    width: 100% !important;
}

  </style>
{% endblock %}

      {% block nav %}
      <ul class="c-tab-nav" role="tablist">
        <li class="c-tab-nav__tab brand">
          <a href=""><img src="{% static 'img/gainful_logo.png' %}" width=50></a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/overview">Overview</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/scheduler">Message Scheduler</a></button>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/students">Students</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab is-active">
          <a href="/groups">Groups</a>
        </li>
        <li class="c-tab-nav__tab brand u-l-fr" style="margin-right: 20px;">
          <a href=""><img src="{% static 'img/foothill_logo_nobg.png' %}" width=85></a>
        </li>
      </ul>
      {% endblock %}

{% block content %}

<h2 class="u-l-fl">Group Edit</h2>

<div class="u-pad-s">
	<div class="page-menu u-l-fr">
				  <form method="POST" enctype="multipart/form-data">
 {% csrf_token %}

    {{ form.as_p }}

		     <div class="clearfix">
		         <div class="u-l-fr">
			        <button type="submit" class="c-btn c-btn--primary">Create</button>
			     </div>
		     </div>
		  </form>
	</div>
</div>

{% endblock %}

{% block page_scripts %}

<script>

  $(function() {

$('select').select2();


});
</script>

{% endblock %}