{% extends "base.html" %}
{% load staticfiles %}
      {% block nav %}
      <ul class="c-tab-nav" role="tablist">
        <li class="c-tab-nav__tab brand">
          <a href=""><img src="{% static 'img/gainful_logo.png' %}" width=50></a>
        </li>
        <li role="presentation" class="c-tab-nav__tab is-active">
          <a href="/overview">Overview</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/scheduler">Message Scheduler</a></button>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/students">Students</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/groups">Groups</a>
        </li>
      </ul>
      {% endblock %}

{% block content %}

<h2>Messages Scheduled</h2>
{% if messages_unsent %}
		<table class="c-table">
		<thead>
		  <tr>
		    <th>Message</th>
		    <th>Date</th>
		    <th>Groups</th>
		    <th>Individuals</th>
		  </tr>
		</thead>
		<tbody>
			{% for message in messages_unsent %}
			  <tr>
			    <td>{{message.message}}</td>
			    <td>{{message.date}}</td>
			{% if message.audience_Groups.all %}
			<td>{% for item in message.audience_Groups.all %}
			    {{item}}
			{% endfor %}</td>
			{% else %}
			<td>No Groups Selected</td>
			{% endif %}
			{% if message.audience_Individuals.all %}
			<td>{% for ind in message.audience_Individuals.all %}
			    {{ind}}
			{% endfor %}</td>
			{% else %}
			<td>No Individuals Selected</td>
			{% endif %}
			  </tr>
		{% endfor %}
		</tbody>
		</table>




{% else %}
<p>No messages scheduled</p>
<a href="/scheduler/">Schedule new message</a>
{% endif %}

<hr />

<h2>Messages Sent</h2>
{% if messages_sent %}

		<table class="c-table">
		<thead>
		  <tr>
		    <th>Message</th>
		    <th>Date</th>
		    <th>Groups</th>
		    <th>Individuals</th>
		  </tr>
		</thead>
		<tbody>
			{% for message in messages_sent %}
			  <tr>
			    <td>{{message.message}}</td>
			    <td>{{message.date}}</td>
			{% for item in message.audience_grp.all %}
			    <td>{{item}}</td>
			{% endfor %}
			{% for ind in message.audience_ind.all %}
			    <td>{{ind}}</td>
			{% endfor %}
			  </tr>
		{% endfor %}
		</tbody>
		</table>

{% else %}
<p>No messages already sent</p>

{% endif %}

{% endblock %}