{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %} " />
  <style>

.errorClass {
    outline:none;
    border-color:red;
    box-shadow:0 0 10px red;
}

  </style>
{% endblock %}

      {% block nav %}
      <ul class="c-tab-nav" role="tablist">
        <li class="c-tab-nav__tab brand">
          <a href=""><img src="{% static 'img/gainful_logo.png' %}" width=50></a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/overview">Overview</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab is-active">
          <a href="/scheduler">Message Scheduler</a></button>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/students">Students</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/groups">Groups</a>
        </li>
      </ul>
      {% endblock %}

{% block content %}
	<h2>Schedule New Message</h2>
	<form method="POST" enctype="multipart/form-data">

 {% csrf_token %}


    {{ form.as_p }}


	<button type="submit" class="c-btn c-btn--primary c-btn--big">Submit</button>
	</form>

{% endblock %}

{% block page_scripts %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.timepicker.js' %} "></script>
<script>

  $(function() {
    $( "#id_date_0" ).datepicker();
    $('#id_date_1').timepicker({ 
        timeFormat: 'G:i',
    });
    $('#id_date_1').attr("placeholder","Time");
    $('#id_date_0').attr("placeholder","Calendar Date");
    $( "#id_message" ).on('input', function() {
        if ($(this).val().length>160) {
            $("#id_message").addClass('errorClass');}
        else  {$("#id_message").removeClass('errorClass');}
});

$('#id_message').keyup(function () {
    var left = 160 - $(this).val().length;
    if (left < 0) {
            $(".countdown").css('color', 'red');
        } else {
            $(".countdown").css('color', 'inherit');
        }
    
    $('.countdown').text(left);
});

});
</script>

{% endblock %}