{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
{{ form.media.js }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %} " />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

  <style>

.errorClass {
    outline:none;
    border-color:red;
    box-shadow:0 0 10px red;
}

.select2-container {
    width: 100% !important;
}

label[for=id_message] {
    display: block;
}

  </style>
{% endblock %}

      {% block nav %}
      <ul class="c-tab-nav" role="tablist">
        <li class="c-tab-nav__tab brand">
          <a href=""><img src="{% static 'img/gainful_logo.png' %}" width=50></a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/overview">Overview</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab is-active">
          <a href="/scheduler">Message Scheduler</a></button>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/students">Students</a>
        </li>
        <li role="presentation" class="c-tab-nav__tab">
          <a href="/groups">Groups</a>
        </li>
        <li class="c-tab-nav__tab brand u-l-fr" style="margin-right: 20px;">
          <a href=""><img src="{% static 'img/foothill_logo_nobg.png' %}" width=85></a>
        </li>
      </ul>
      {% endblock %}

{% block left_column %}

{% endblock %}

{% block content %}


	<h2>Schedule New Message</h2>

      <div class="o-grid__col o-grid__col--1-of-12">
        <h3>To:</h3>
      </div>
      <div class="o-grid__col o-grid__col--8-of-12">


	<form method="POST" enctype="multipart/form-data">

 {% csrf_token %}


    {{ form.as_p }}


	<button type="submit" class="c-btn c-btn--primary c-btn--big">Submit</button>
	</form>
        </div>
{% endblock %}

{% block page_scripts %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<script type="text/javascript" src="{% static 'js/jquery.timepicker.js' %} "></script>
<script>

  $(function() {
    $( "#id_date_0" ).datepicker();
    $('#id_date_1').timepicker({ 
        timeFormat: 'G:i',
    });
    $('#id_date_1').attr("placeholder","Time");
    $('#id_date_0').attr("placeholder","Calendar Date");
    $( "#id_message" ).on('input', function() {
        if ($(this).val().length>160) {
            $("#id_message").addClass('errorClass');}
        else  {$("#id_message").removeClass('errorClass');}
});

$('#id_message').keyup(function () {
    var left = 160 - $(this).val().length;
    if (left < 0) {
            $(".countdown").css('color', 'red');
        } else {
            $(".countdown").css('color', 'inherit');
        }
    
    $('.countdown').text(left);
});

$('select').select2();


});
</script>

{% endblock %}