{% extends "base.html" %}

{% block content %}

<h2 class="u-l-fl">Students</h2>

<div class="u-pad-s">
	<div class="page-menu u-l-fr">
		<button id="newStudentBtn" class="c-btn c-btn--primary" onclick="GG.onAddStudentClicked()">Add student</button>
	</div>

	{% if students %}
		<table class="c-table">
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Phone</th>
		    <th>Email</th>
		  </tr>
		</thead>
		<tbody>
		{% for student in students %}
			{% if student.name and student.phone_number %}
			  <tr>
			    <td>{{student.name}}</td>
			    <td>{{student.phone_number}}</td>
			    <td>{{student.email}}</td>
			  </tr>
		  	{% endif %}
		{% endfor %}
		</tbody>
		</table>
	{% else %}
		<p>No users found</p>
	{% endif %}
</div>

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}

{% block modal %}
<div id="newStudentModal" class="c-modal-overlay" style="display:none">
  <div class="c-modal">
    <div class="c-modal__header">
      <h2>Add student</h2>
    </div>
    <div class="c-modal__content">
      <form method="POST" enctype="multipart/form-data">

          <form action="{{ action }}" method="POST">
  {% csrf_token %}

    {{ form.as_p }}


	     <div class="clearfix">
	         <div class="u-l-fr">
		        <button type="submit" class="c-btn c-btn--primary">Add student</button>
		        <button type="button" class="c-btn c-btn--secondary" onclick="GG.dismissModal()">Cancel</button>
		     </div>
	     </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
